.container {
    max-width: 800px;
}

html {
    background-image: radial-gradient(50% 97%, #51CEF0  16%, #51CEF0   16%, #31B9E9   52%, #2E8AE7   98%);
}

body {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: white;
}

.headline {
    color: #EEFF12;
    font-weight: bold;
}

.dates {
    color: white;
    font-weight: bold;
}




