body{
    padding-top:50px;
    background-color: rgba(0,0,0,0) !important;
    font-size: 18pt;
    line-height: 1.5em;
    font-family: "helvetica neue";
    font-weight: 100;
}
footer{
    padding-top:50px;
}

html {
    background-image: radial-gradient(50% 97%, #315780 52%, #1e354e 98%);
}

img {
    max-width: 100%;
    max-height: 50vh;
    margin: auto;
    display: block;
}

p, a, h1, h2, h3, h4, h5, h6, ul,ol, li {
    text-shadow: 1px 1px 1px #111 !important;
    color: white;
}

p {
    padding-bottom: 1em;
}

.dropdown-menu > li > a{
    text-shadow: 0px 0px 0px #111 !important;
}

a {
    color: #FF76A5;
}

a:hover {
    color: #ff4088;
}

.navbar-default {
    background-color: rgba(27, 48, 71, .8) !important  ;
}
