    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">{{ .Site.Title }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
              {{ range where .Site.Pages "Section" "" }}
                {{ if eq .Title "Home" }}
                {{ else }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
              {{ end }}
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="sections">Contributing<span class="caret"></span></a>
                  <ul class="dropdown-menu" aria-labelledby="download">
                  {{ range where .Site.Pages "Section" "contributing" }}
                    <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                  {{ end }}
                  </ul>
                </li> 
          </ul>
        </div>
      </div>
    </div>
