    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">{{ .Site.Title }}</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
              {{ range .Site.Pages }}
                {{ if eq .Title "Home" }}
                {{ else }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
              {{ end }}
          </ul>
        </div>
      </div>
    </div>
