<hr style="border-color:#214366;border-toop:1px ;">
<h3 id="getting-help">Getting Help</h3>
<p >If you have any questions about getting things set up or if you&rsquo;re not
sure about how to address a problem with the code or documentation,
we&rsquo;re here to help:</p>
<ul style="margin-top:0px;">
<li >For people newer to open source, <a href="https://gitter.im/docker/docker" target="_blank">the gitter
chatroom</a> is easily accessible through
a web browser and authenticates with Github. </li>
<li>If you are working on a project issue, ask for help by commenting containing
<code>+status/help-wanted</code> or <code>+status/docs-help</code> on the issue.
Commenting like this creates a label others can filter on.
<li >The <b>best</b> place to get help is on the <a
href="https://dev.dockerproject.com">Docker contributor forum</a>. Here the
entire community collaborates and supports each other. There’s even a section
for people new to open source.</li>
<li >For people familiar with IRC, please join the  <code>#docker</code> or
<code>#docker-dev</code> channel on Freenode.</li>
</ul>

