<h1 id="getting-help" style="font-size:85%;">Getting Help</h1>
<p style="font-size:75%;">If you have any questions about getting things set up or if you&rsquo;re not
sure about how to address a problem with the code or documentation,
we&rsquo;re here to help:</p>
<ul style="margin-top:0px;">
<li style="font-size:75%;">The best place to get help is on the <a
href="https://dev.dockerproject.org">Docker contributor forum</a>. Here the
entire community collaborates and supports each other.  There’s even a section
for questions for people new to open source.</li>
<li style="font-size:75%;">For people newer to open source, <a href="https://gitter.im/docker/docker" target="_blank">the gitter
chatroom</a> is easily accessible through
a web browser and authenticates with Github. This channel is dedicated
to contributors new to open source.</li>
<li style="font-size:75%;">For people familiar with IRC, please join the  <code>#docker-dev</code> channel on
Freenode.</li>
</ul>